*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.superior{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-rows: 30% 15% 55%;
    gap: 10px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.superior #nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    gap: 50px;
    text-align: center;
    z-index: 10;
}

.superior #titulo{
    text-align: center;
}

.superior a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    color: whitesmoke;
    font-size: larger;
}

.superior a:hover{
    background-color: rgb(58, 55, 59);
    color: whitesmoke;
}

.superior #iconoBusqueda:hover{
    background-color: rgb(58, 55, 59);
}


#buscador{
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    opacity: 0;
    padding: 10px;
    z-index: 9;
    position: absolute;
    width: 600px;
    top: -50px;
    transition: all 600ms;
}

#buscador #barra-busqueda{
    display: block;
    width: 600px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    outline: 0;
}
#buscador #resultado{
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    background-color: whitesmoke;
    width: 600px;
    list-style: none;
    text-decoration: none;
    margin: auto;
    line-height: 30px;
    padding: 12px;
    border-radius: 5px;  
}
#buscador #resultado a{
    color: black;
}
#buscador #resultado a:hover{
    background-color: rgb(185, 185, 185);
}

#cobertura{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 6;
    position: fixed;
    display: none; 
}

body{
    background-image: url(Imagenes/fondo.jpeg);
    background-size: 110%; 
}
.contenido{
    min-height: calc(100% -250px -220px);
    font-family: 'Abel', sans-serif;
    color: whitesmoke;
    font-size: 25px;
}
.contenido #texto{
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    text-align: center;
    height: max-content;
    margin-bottom: 60px;
}
footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 220px;
    color: white;
    position: relative;
    font-family: 'Abel', sans-serif;
}
footer #logo00{
    padding-top: 130px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
footer #login{
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding-top: 40px;
    opacity: 0.8;
    z-index: 10;
}
footer #sugerencia{
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding-top: 85px;
    opacity: 0.8;
    text-align: center;
    font-size: 20px;
    z-index: 9;
}
footer #sugerencia a{
    text-decoration: none;
    color: white;
}
footer #login:hover{
    opacity: 1;
    
}
footer #sugerencia:hover{
    opacity: 1;
    font-size: 20.5px;
}